@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --compl-opt1: #ffe600;
  --compl-opt2: #51d289;
  --main-dark-base-20: #a3a3a3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-mygrey: '#FBFBFB';

  --color-primary: var(--compl-opt1);
  --color-secondary: var(--compl-opt2);
  --main-dark-base: var(--background);
  --box-color-light: var(--foreground);
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.budget-form-group {
  @apply sm:mb-12 mb-16;
}

.budget-input {
  @apply w-full px-4 pb-[1.62rem] border-none bg-mainDarkBase shadow-sm transition-all;
  @apply font-normal leading-normal text-mainDarkBase20 text-center;
  @apply border-b border-b-boxColorLight;
  border-bottom: 1px solid var(--box-color-light);
}

.budget-input:focus {
  @apply border-b border-b-secondary outline-none;
  outline: none;
  border-bottom: 1px solid var(--compl-opt2);
}

.budget-input:focus:invalid {
  border-bottom: 1px solid var(--compl-opt1);
}

.budget-input::-webkit-input-placeholder {
  @apply text-mainDarkBase20 text-center capitalize;
}

.budget-input:placeholder-shown + .budget-label {
  @apply opacity-0 invisible;
  @apply -translate-y-4;
}

.budget-label {
  @apply block w-full px-4 my-1 transition-all;
  @apply font-normal leading-normal text-mainDarkBase20 text-center capitalize;
}

@layer base {
  :root {
    --background: 0, 0%, 12%;
    --foreground: 55, 100%, 95%;
    --card: 0, 0%, 12%;
    --card-foreground: 55, 100%, 95%;
    --popover: 0, 0%, 12%;
    --popover-foreground: 55, 100%, 95%;
    --primary: 54, 100%, 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 146, 59%, 57%;
    --secondary-foreground: 54, 100%, 50%;
    --muted: 146, 59%, 57%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 146, 59%, 57%;
    --accent-foreground: 54, 100%, 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 55, 100%, 95%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 55, 100%, 95%;
    --foreground: 0 0% 98%;
    --card: 55, 100%, 95%;
    --card-foreground: 0 0% 98%;
    --popover: 55, 100%, 95%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 54, 100%, 50%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
